@charset "utf-8";
/* CSS Document */

@import url('owl.carousel.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

body {
    margin: 0;
    padding: 0;
    font-family: 'Mulish', sans-serif !important;
    font-size: 14px;
    color: #3a3a3a;
    font-weight: 400; 
    position: relative;
}

* {
    margin: 0px;
    padding: 0px;
}

.clearfix {
    zoom: 1;
}

.clearfix:before,
.clearfix:after {
    display: table;
    content: "";
    line-height: 0;
}

.clearfix:after {
    clear: both;
}

.clr,
.clear {
    clear: both;
}

header,
footer,
aside,
article,
section,
nav,
figure {
    position: relative;
    
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

ul,
li,
ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    outline: none !important;
}

a:hover,
a:focus {
    text-decoration: none !important;
    outline: none;
}

img {
    border: 0;
    outline: none;
    max-width: 100%;
}

input[type="text"],
input[type="password"],
select,
textarea,
input[type="button"] {
    max-width: 100%;
}
     
table {  width: 100%; }
p { margin: 0; padding: 0; }
.fltL { float: left; }
.fltR { float: right !important; }
.padding_none { padding: 0 !important;}
.border_none{border:none !important}
.navbar-toggle {  background-color: #fff !important; }
.icon-bar { background-color: #000 !important; }
.p_right0{ padding-right:0px !important }
.p_left0{ padding-left:0px !important }




.HotelArea{
    background-image: url('../images/bg.jpg');
    min-height: 100vh;
    background-size: cover;
    background-position: center center;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.HotelArea:before{content:'';position: absolute;top: 0;left: 0;width: 100%;height: 100%;background-color: rgb(0 0 0 / 70%);}

.HotelArea ol{
    position: absolute;
    top: 20px;
    right: 20px;
}

.HotelArea ol li{
    display: inline-block;
    margin: 0 0 0 20px;
}

.HotelArea ol li a{
    padding: 10px 20px;
    display: block;
    border: 2px solid #fff;
    background-color: #fff;
    color: #000;
    font-weight: 600;
    border-radius: 5px;
    font-size: 15px;
}

.HotelArea ol li a:hover{}

.HotelArea ol li:last-child a{
    background-color: #000;
    color: #fff;
}

.HotelArea ol li:last-child a:hover{}

.HotelArea .HotelBox{
    position: relative;
    color: #fff;
    text-align: center;
}

.HotelArea h5{
    margin: 0 0 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    color: #fff;
    top: 110px;
    font-size: 75px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 10px;
}

.HotelArea h5:before{content:'';display: inline-block;width: 60px;height: 5px;background-color: #fff;margin: 0 15px 0 0;border-radius: 13px;}

.HotelArea .HotelBox h4{
    margin: 0 0 20px 0;
    font-size: 27px;
    font-weight: 700;
    line-height: 70px;
}

.HotelArea .HotelBox form{
    background-color: #fff;
    display: flex;
    border-radius: 50px;
    padding: 5px;
    overflow: hidden;
    margin: 0 0 30px;
    min-width: 500px;
}

.HotelArea .HotelBox form input{
    border: none;
    padding: 10px 10px 10px 15px;
    width: calc(100% - 150px);
    font-weight: 600;
}

.HotelArea .HotelBox form button{
    background-color: #000;
    border: none;
    outline: 0;
    color: #fff;
    padding: 12px 20px;
    border-radius: 50px;
    width: 150px;
    font-weight: 600;
}

.HotelArea .HotelBox p{
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0.4px;
}

.HotelArea{}
.HotelArea ul{
    position: absolute;
    bottom: 20px;
    left: 0;
    width: 100%;
    text-align: center;
}
.HotelArea ul li{display:inline-block;margin: 0 5px;}
.HotelArea ul li a{display:block;width:45px;height:45px;background-color:#fff;color: #000000;font-size:18px;text-align:center;line-height:45px;border-radius: 50px;}
.HotelArea ul li a:hover{background-color: #000;color:#fff}

.ContactArea{padding: 50px 0 20px;background-image:url();background-size:contain;background-repeat:no-repeat;background-position: 130% 10%;}

/* .ContactArea{padding: 90px 0 60px;} */
.ContactArea form h5{margin:0 0 5px;color:#3870b8;font-weight:700;font-size:25px;letter-spacing:1px;font-family:Playfair Display;font-family: ARIAL BLACK;text-transform: uppercase;}
.ContactArea form h3{margin:0 0 15px;font-size: 18px;color:#000;font-weight:700;line-height:35px;text-transform:capitalize;letter-spacing:.5px;font-family:Playfair Display;font-family: ARIAL BLACK;text-transform: uppercase;}
.ContactArea form p{margin:0 0 40px;font-weight:400;font-size: 17px;line-height: 26px;color:#868585;}
.ContactArea form .form-group{margin:0 0 25px}
.ContactArea form .form-group .form-control{border:none;box-shadow:none;padding:0;border-bottom:1px solid #ddd;border-radius:0;height:40px}
.ContactArea form .form-group textarea.form-control{height:auto;resize:none}
.ContactArea form button{border:none;outline:0;padding:10px 50px;color:#fff;font-weight:500;text-transform:uppercase;font-size:18px;border-radius:4px;background-color:#3870b8}

.ContactArea{
    background-image: url(../images/bg.jpg);
    min-height: 100vh;
    background-size: cover;
    background-position: center center;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ContactArea:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 70%);
}

.ContactArea form{
    border-radius: 0px 50px 0px 50px;background-color: white;padding: 30px;
}